.mi-logo
{
    font-family: 'Lakki Reddy', cursive;
    font-size: 3rem;
}

.mi-titulo
{
    font-family: 'Lakki Reddy', cursive;
    font-size: 2.5rem;
}

table thead
{
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: underline;
}